{# src/_includes/partials/footer.njk #} {# Simple footer content, can be
expanded #}
<p>Connect with us:</p>
<ul>
  <li><a href="#">Facebook</a></li>
  <li><a href="#">Instagram</a></li>
  {# Add social icons/links here #}
</ul>
